Repository hmcts/azure-github-federation-config, pull requests merged in 2023-08, with the labels that each got.

#40 DTSPO-13833 updating pat-token to use SP-token
  azure-pipelines.yml
Labels: prod_app_registrations/no-changes

#42 Give 'vm contributor' role to autoshutdown
  app-registrations.yaml
Labels: prod_app_registrations/add-or-update

#43 Add orphaned resource cleanup application with scope of CFT sandbox
  app-registrations.yaml
Labels: prod_app_registrations/add-or-update

#45 Fix subjects for DTS Orphaned Resource Cleanup
  app-registrations.yaml
Labels: prod_app_registrations/destroy

#47 Temporarily add Platform-Prod MG to Orphaned Resource Cleanup for testing
  app-registrations.yaml
Labels: prod_app_registrations/add-or-update

#48 Temporarily remove orphan cleanup to allow clean initialisation of new role creation terraform
  app-registrations.yaml
Labels: prod_app_registrations/destroy

#49 Revert "Temporarily remove orphan cleanup to allow clean initialisation of new role creation terraform"
  app-registrations.yaml
Labels: prod_app_registrations/add-or-update

#50 Add non-prod management groups to orphan cleanup
  app-registrations.yaml
Labels: prod_app_registrations/destroy
